{{!< Layout}}
{{! The tag above means - insert everything in this file into the body of the Layout.hbs template }}

<div class="file-ready-content">
    <p>Your file is ready to download:</p>
    <p><a href="{{SiteUrl}}/{{FileName}}">Click here to download {{FileName}}</a></p>
</div>