<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to SomeSite</title>
</head>
<body>
    <div class="main-body">
        {{{body}}}
    </div>

    <div class="footer">
        Please view our <a href="{{SiteUrl}}/privacypolicy/">privacy policy</a>
    </div>
</body>
</html>